{% load static %}
<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<link rel="stylesheet" href="{% static 'css/main.css' %}" />
		<title>redChat</title>
	</head>
	<body>
		{% include "navbar.html" %}
		<div class="m-container">
			<div class="t-container">
				{% if target %}
				<h3>Chatbox @ {{target}}</h3>
				{% else %}
				<h3>Chatbox</h3>
				{% endif %}
			</div>
			{% if msgs %}
			<p style="color:green;">{{msgs}}</p>
			{% endif %}
			{% if msgf %}
			<p style="color:red;">{{msgf}}</p>
			{% endif %}
			<div class="f-container">
				<div style="display: flex;">
					{% csrf_token %}
					<input type="text" id="inp" name="msgtxt" required/>
					<input type="button" value="Enter" onclick="req()">
				</div>
				<br/>
				<dev class="c-container">
				<p id="cbox">
				</p>
			</div>
		</div>
		<script>
			/*
			function pollData() {
				fetch('/your_api_endpoint/')
					.then(response => response.json())
					.then(data => {
						// Update the DOM with the new data
						document.getElementById('data-container').innerHTML = data.html;
					});
			}
				{% for chat in ctable %}
				{% if user == chat.user %}
				<b>{{chat.user.username}}:</b> {{chat.msg}}<br/>
				{% else %}
				{{chat.user.username}}: {{chat.msg}}<br/>
				{% endif %}
				{% endfor %}

			setInterval(pollData, 5000); // Poll every 5 seconds
			 */
			const inp = document.querySelector("#inp");
			const csrfToken = document.querySelector('input[name="csrfmiddlewaretoken"]').value;

			function pollData(){
				fetch("/gchat/{{target}}")
					.then(res => res.json())
					.then(data => {
						var restr = "";
						for(var i=0;i<data["user"].length;i++){
							if(data["root"] == data["user"][i])
								restr += "<b>"+data["user"][i]+"</b>: "+data["mesg"][i]+"<br/>"
							else
								restr += data["user"][i]+": "+data["mesg"][i]+"<br/>"
						}
						const cbox = document.getElementById('cbox');
						cbox.innerHTML = restr;
					});
			}

			function req(){
				console.log("En");
				data = "csrfmiddlewaretoken="+csrfToken+"&"+
						"msgtxt="+inp.value+"&"+
						"user="+"{{request.user.username}}"+"&"+
						"target="+"{{target}}";
				if(inp.value != "")
					fetch("/post/",{
						"method":"POST",
						headers: {
							'Content-Type': 'application/x-www-form-urlencoded',
							'X-CSRFToken': csrfToken,
						},
						body: data,
					}).then(pollData);
			};

			inp.onkeyup = function(e)
			{
				if(e.key === "Enter"){
					req();
				}
			};


			pollData();
			setInterval(pollData,1000);
		</script>
	</body>
</html>
