{% load static %}
<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<link rel="stylesheet" href="{% static 'css/main.css' %}" />
		<title>redChat</title>
	</head>
	<body>
		{% include "navbar.html" %}
		<script>
			const cs = new WebSocket('ws://'+window.location.host+'/ws/chat/global/');
			var interv = null;

			function preLoad()
			{
				cs.send(JSON.stringify({
					"type":"refresh",
					"user": "{{user}}",
					"target": "{{target}}",
				}));
			};

			cs.onopen = preLoad
			//interv = setInterval(preLoad,100);

			cs.onmessage = function(e)
			{
				const data = JSON.parse(e.data);
				if(data["size"] == 0)
					return;
				var restr = "";
				for(var i=0;i<data["user"].length;i++){
					if(data["root"] == data["user"][i])
						restr += "<b>"+data["user"][i]+"</b>: "+data["mesg"][i]+"<br/>"
					else
						restr += data["user"][i]+": "+data["mesg"][i]+"<br/>"
				}
				const cbox = document.getElementById('cbox');
				cbox.innerHTML = restr;
			};



			function sendMsg()
			{
				const ibox = document.getElementById('iBox');
				cs.send(JSON.stringify({
					"type":"msg",
					"message":ibox.value,
					"user": "{{user}}",
					"target": "{{target}}",
				}));
			};


		</script>
		<div class="m-container">
			<div class="t-container">
				{% if target %}
				<h3>Chatbox @ {{target}}</h3>
				{% else %}
				<h3>Chatbox</h3>
				{% endif %}
			</div>
			{% if msgs %}
			<p style="color:green;">{{msgs}}</p>
			{% endif %}
			{% if msgf %}
			<p style="color:red;">{{msgf}}</p>
			{% endif %}
			<div class="f-container">
				<div style="display: flex;">
					<input type="text" id="iBox" name="msgtxt" required/>
					<input type="button" id="submit" value="Send" onclick="sendMsg()"/>
				</div>
				<br/>
				<dev class="c-container">
				<p id="cbox">
				</p>
			</div>
		</div>
		</div>
		<script>
			const inp = document.querySelector('#iBox');
			const sub = document.querySelector('#submit');
			inp.focus();
			inp.onkeyup = function(e)
			{
				if(e.key === "Enter"){
					sub.click();
					inp.value = "";
				}
			};
			/*
			function pollData() {
				fetch('/your_api_endpoint/')
					.then(response => response.json())
					.then(data => {
						// Update the DOM with the new data
						document.getElementById('data-container').innerHTML = data.html;
					});
			}
				{% for chat in ctable %}
				{% if user == chat.user %}
				<b>{{chat.user.username}}:</b> {{chat.msg}}<br/>
				{% else %}
				{{chat.user.username}}: {{chat.msg}}<br/>
				{% endif %}
				{% endfor %}

			setInterval(pollData, 5000); // Poll every 5 seconds
			*/
			function pollData(){
				fetch("/gchat/{{target}}")
				.then(res => res.json())
				.then(data => {
					var restr = "";
					for(var i=0;i<data["user"].length;i++){
						if(data["root"] == data["user"][i])
							restr += "<b>"+data["user"][i]+"</b>: "+data["mesg"][i]+"<br/>"
						else
							restr += data["user"][i]+": "+data["mesg"][i]+"<br/>"
					}
					const cbox = document.getElementById('cbox');
					cbox.innerHTML = restr;
				});
			}

			//pollData();
			//setInterval(pollData,1000);
		</script>
	</body>
</html>
