{% load static %}
<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<link rel="stylesheet" href="{% static 'css/main.css' %}" />
		<script src="https://cdnjs.cloudflare.com/ajax/libs/crypto-js/4.1.1/crypto-js.min.js" integrity="sha512-E8QSvWZ0eCLGk4km3hxSsNmGWbLtSCSUcewDQPQWZF6pEU8GlT8a5fF32wOl1i8ftdMhssTrF/OhyGWwonTcXA==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
		<title>redChat</title>
	</head>
	<body>
		{% include "navbar.html" %}
		<div class="m-container">
			<div class="t-container">
				{% if target %}
				<h3>Chatbox @ {{target}}</h3>
				{% else %}
				<h3>Chatbox</h3>
				{% endif %}
			</div>
			{% if msgs %}
			<p style="color:green;">{{msgs}}</p>
			{% endif %}
			{% if msgf %}
			<p style="color:red;">{{msgf}}</p>
			{% endif %}
			<div class="f-container">
				<div style="display: flex;">
					{% csrf_token %}
					<input type="text" id="inp" name="msgtxt" required/>
					<input type="button" value="Enter" onclick="postMsg()">
				</div>
				<br/>
				<dev class="c-container">
				<p id="cbox">
				</p>
			</div>
		</div>
		<script>
			const crpt = CryptoJS.AES;
			const ekey = "{{request.session.ekey}}";
			function emsg(msg){
				{% if target %}
				return crpt.encrypt(msg, ekey).toString();
				{% else %}
				return msg;
				{% endif %}
			};
			function dmsg(msg){
				{% if target %}
				const bytes = crpt.decrypt(msg, ekey);
				const decryptedData = bytes.toString(CryptoJS.enc.Utf8);
				return decryptedData;
				{% else %}
				return msg;
				{% endif %}
			};
			const inp = document.querySelector("#inp");
			const csrfToken = document.querySelector('input[name="csrfmiddlewaretoken"]').value;


			const cbody = {
				"method"             : "get",
				"type"               : "chat",
				"target"             : "{{target}}",
				"long"	             : "false",
				"csrfmiddlewaretoken": csrfToken,
			};

			var pbody = Object.assign({},cbody);
			pbody["method"] = "post";
			console.log(pbody)

			payload = {
				"method": "POST",
				headers: {
					'Content-Type': 'application/x-www-form-urlencoded',
					'X-CSRFToken': csrfToken,
				},
				body: $.param(cbody)
			};	

			function handleData(rdata){
				var restr = "";
				for(var i=0;i<rdata["user"].length;i++){
					if(rdata["root"] == rdata["user"][i])
						restr += "<b>"+rdata["user"][i]+"</b>: "+dmsg(rdata["mesg"][i])+"<br/>"
					else
						restr += rdata["user"][i]+": "+dmsg(rdata["mesg"][i])+"<br/>"
				}
				const cbox = document.getElementById('cbox');
				cbox.innerHTML = restr;
			}

			async function getMsg(longPoll=true){
				if(longPoll)
					purl = "{% url 'pmsg' %}";
				else
					purl = "{% url 'msg' %}";
				const res = await fetch(purl,payload);
				if(res.status==200)
					res.json().then(handleData);
				else if(res.status==204)
					console.log("No new data");
				else
					console.error(" pmesg error");
			};

			function postMsg(){
				let msg = inp.value;
				if(msg != ""){
					pbody['msg'] = emsg(msg);
					postload = {
						"method": "POST",
						headers: {
							'Content-Type': 'application/x-www-form-urlencoded',
							'X-CSRFToken': csrfToken,
						},
						body: $.param(pbody)
					};
					fetch("{% url 'msg' %}",postload);
					inp.value = "";
				}
			};

			inp.onkeyup = function(e)
			{
				if(e.key === "Enter"){
					postMsg();
				}
			};

			getMsg(false);

			let inexec = false;
			setInterval( () => {
				if(!inexec){
					inexec = true;
					try{
						getMsg();
					}catch(error){
						console.error('Error:', error);
					}finally{
						inexec = false;
					}
				}
			},1000);

			//pollData(false);
			//setInterval(pollData,100);
		</script>
	</body>
</html>
