{% load static %}
<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<link rel="stylesheet" href="{% static 'css/main.css' %}" />
		<title>redChat</title>
	</head>
	<body>
		{% include "navbar.html" %}
		<div class="m-container">
			<div class="t-container">
			<h3>Hello</h3>
			</div>
			<div class="f-container">
				<p>
					Welcome to redChat,a chatbox created by erzaScarlet45.<br/>
					This is designed with django.<br/>
					Further information is available at <a href="https://github.com/riadkabir45/redChat">Github Link</a>.<br/>
				</p>
			</div>
		</div>
	</body>
</html>
