{% load static %}
<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<link rel="stylesheet" href="{% static 'css/main.css' %}" />
		<title>redChat</title>
	</head>
	<body>
		<div class="m-container">
			<div class="t-container">
			<h3>Hello</h3>
			</div>
			<div class="f-container">
				<p>
					Welcome to redChat,a chatbox created by erzaScarlet45.
					<a href="/signup">Signup</a> if you have not already.
					Else <a href="/signin">login</a> to continue.
				</p>
			</div>
		</div>
	</body>
</html>
