<div class="topnav">
	{% if request.user.id is None %}
		{% for key,value in request.session.pre_nav.items %}
		{% if value == request.path %}
		<a class="active" href="{{value}}">{{key}}</a>
		{% else %}
		<a href="{{value}}">{{key}}</a>
		{% endif %}
		{% endfor %}
	{% else %}
		{% for key,value in request.session.nav.items %}
		{% if value == request.path %}
		<a class="active" href="{{value}}">{{key}}</a>
		{% else %}
		<a href="{{value}}">{{key}}</a>
		{% endif %}
		{% endfor %}
		<a href="/logout">Logout</a>
	{% endif %}
</div>
