<div class="topnav">
	{% if request.user.id is None %}
		<a href="{% url 'index' %}">Home</a>
		<a href="{% url 'signup' %}">Sign Up</a>
		<a href="{% url 'signin' %}">Sign In</a>
	{% else %}
		<a href="{% url 'dashboard' %}">Home</a>
		<a href="{% url 'chat' %}">Global Chat</a>
		<a href="{% url 'target' %}">Local Chat</a>
		<a href="{% url 'logout' %}">Logout</a>
	{% endif %}
</div>
<script>
const topNav = document.querySelector('.topnav');
const links = topNav.querySelectorAll('a');
const currentPath = window.location.pathname;

links.forEach(link => {
  const href = link.getAttribute('href');
  // Do something with the href value

  // Check for additional class based on href value
  if (href === currentPath) {
    link.classList.add('active'); // Or any other class you want to add
  }
});

</script>
