{% load static %}
<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<link rel="stylesheet" href="{% static 'css/main.css' %}" />
		<title>redChat</title>
	</head>
	<body>
		{% include "navbar.html" %}
		<div class="m-container">
			<div class="t-container">
				<h3>Chat Name</h3>
			</div>
			{% if msgs %}
			<p style="color:green;">{{msgs}}</p>
			{% endif %}
			{% if msgf %}
			<p style="color:red;">{{msgf}}</p>
			{% endif %}
			<div class="f-container">
				<form action="" method="POST">
					{% csrf_token %}
					<label for="username">Username</label>
					<input type="text" name="username" value="{{username}}" required/><p/>
					<input type="submit">
				</form>
				<p>Access global <a href="{% url 'gchat' %}" >chat</a> if you dont know anyone.</p>
			</div>
		</div>
	</body>
</html>
