body {
	display: flex;
	justify-content: center;
	padding-top: 35vh;
}

.m-container {
	border-style: groove;
	width: 300px;
	min-height: 170px;
	padding: 10px;
	margin-right: 100px;
	margin-left: 100px;
}

.t-container {
	display: flex;
	justify-content: center;
}

.c-container {
	display: block;
	background-color:lightgrey;
	max-height: 200;
	overflow-y: auto;
	padding: 5px;
}

.f-container label {
	display: block;
}

.f-container input {
	width: -webkit-fill-available;
}
